#total {
    width: 45vh;
    height: 100%;
    display: flex;
    position: absolute;
    background: linear-gradient(rgb(255,235,236), white);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.images {
    position: absolute;
    top: 26vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 9vh;
    height: 9vh;
}

.numberInput {
    position: absolute;
    height: 7vh;
    width: 39vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* background-color: pink; */
    background-color: rgb(242, 238, 239);
    border-radius: 2vh;
}

#number {
    top: 61vh;
}

#code {
    top: 71vh;
}

input {
    font-family: Bahnschrift, sans-serif, "Microsoft YaHei UI";
    position: absolute;
    height: 3vh;
    font-size: 2vh;
    top: 0;
    bottom: 0;
    border: none;
    outline: medium;
}

#tel {
    width: 28vh;
    left: 3.5vh;
    margin: auto;
}

#codes {
    width: 28vh;
    left: 3.5vh;
    margin: auto;
}

.buttonGetCode {
    font-family: Bahnschrift, sans-serif, "Microsoft YaHei UI";
    position: relative;
    height: 7vh;
    width: 19vh;
    background-color: pink;
    border-radius: 2vh;
    float: right;
    line-height: 7vh;
    text-align: center;
    font-size: 2.1vh;
}

.buttonForSubmit {
    font-family: Bahnschrift, sans-serif, "Microsoft YaHei UI";
    position: absolute;
    height: 7vh;
    width: 39vh;
    background-color: rgb(254, 58, 59);
    border-radius: 5vh;
    float: right;
    line-height: 7vh;
    text-align: center;
    font-size: 2.1vh;
    top: 83vh;
    left: 3.5vh;
    color: white;
}