body, html {
    font-family: "Microsoft YaHei UI", serif;
}

#total {
    width: 45vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgb(246, 246, 246);
    overflow: auto;
}

#backgroundPicture {
    position: relative;
    top: 0;
    width: 45vh;
    height: 26vh;
    bottom: 0;
    margin: 0 auto;
    background: lightpink;
    border: rgb(237, 237, 237) 1px solid;
    display: flex;
}

#avatar {
    position: relative;
    width: 8.3vh;
    height: 8.3vh;
    /*background-color: #66ccff;*/
    border-radius: 4.3vh;
    transform: translateY(-4.15vh);
    z-index: 7;
    left: 16.55vh;
}


#personalInformation {
    display: flex;
    flex-direction: column;
    position: relative;
    /*top: 18.75vh;*/
    height: 27.5vh;
    /*top: 8.3vh;*/
    width: 41.4vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
    font-size: 1.5vh;
    transform: translateY(-4.15vh);
    border-radius: 1vh;
    border: rgb(237, 237, 237) 1px solid;

}

#name {
    position: relative;
    /*top: 4.8vh;*/
    transform: translateY(-2vh);
    font-size: 2vh;
    text-align: center;
}

#information {
    top: 0.8vh;
    /*transform: translateY(+0.8vh);*/
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#subscribe {
    font-size: 1.5vh;
}

#editInformationButton {
    position: relative;
    top: 4vh;
    border-radius: 2vh;
    width: 10vh;
    height: 3.5vh;
    border: rgb(227, 227, 227) 1px solid;
    line-height: 3.5vh;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#button {
    position: relative;
    height: 2.75vh;
    /*top: 2.75vh;*/
    transform: translateY(-1.40vh);
    left: 6.625vh;
    width: 38vh;
    font-size: 1.625vh;
    color: rgb(135, 139, 142);
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    position: relative;
    width: 9.4vh;
}

.clicked {
    /*text-align: center;*/
    color: rgb(0, 0, 0);

}

.underShow {
    position: relative;
    top: 1.58vh;
    /*background: #646cff;*/
    /*height: fit-content;*/
    width: 41.4vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 1vh;
}

#taste {
    position: relative;
    top: 2.625vh;
    left: 1.875vh;
    font-size: 1.8vh;
    font-weight: bold;
}

#boxes {
    display: flex;
    top: 1.5vh;
    position: relative;
    flex-direction: row;
    color: #42b983;
    height: 13.25vh;
}

.box {
    width: 12vh;
}

#firstPart {
    height: 20.5vh;
    background: white;
    border-radius: 1vh;
    border: rgb(237, 237, 237) 1px solid;
}

#myFavourite {
    position: relative;
    top: 2vh;
    border: rgb(249, 241, 238) 1px solid;
    background: linear-gradient(rgb(252, 241, 239), rgb(254, 253, 251));
    left: 1.8vh;
    border-radius: 1vh;

}

#played {
    position: relative;
    top: 2vh;
    border: rgb(248, 244, 232) 1px solid;
    background: linear-gradient(rgb(255, 248, 230), rgb(254, 254, 244));
    left: 2.6vh;
    border-radius: 1vh;
}

#keyWord {
    position: relative;
    top: 2vh;
    border: rgb(233, 238, 244) 1px solid;
    background: linear-gradient(rgb(241, 244, 251), rgb(252, 253, 255));
    border-radius: 1vh;
    left: 3.4vh;
}

#playLists {
    position: relative;
    top: 1.8vh;
    width: 41.4vh;
    /*height: 55vh;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
    border-radius: 1vh;
    border: rgb(237, 237, 237) 1px solid;

}

#createPlaylist {
    position: relative;
    left: 1.8vh;
    top: 2.625vh;
    display: flex;
    height: 6.5vh;
    flex-direction: row;
}

.playList {
    position: relative;
    /*top: 4vh;*/

}

.playlistBig {
    position: relative;
    font-size: 1.9vh;
    font-weight: bold;
}

.playlistSmall {
    position: relative;
    top: 0.6vh;
    font-size: 1.1vh;
    color: rgb(152, 152, 152);
}

.smallWordInBox {
    position: relative;
    top: 1vh;
    left: 1vh;
    font-size: 1.4vh;
    color: rgb(128, 120, 131);
}

.bigWordsInBox {
    position: relative;
    top: 3.7vh;
    display: flex;
    flex-direction: row;
    width: 9vh;
}

.bigWordInBox {
    position: relative;
    font-size: 1.75vh;
    left: 1vh;
    text-align: left;
    color: rgb(87, 88, 108);
}

.oneItem {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 1.83vh;
    height: 6.8vh;
    /*top: 2.625vh;*/
}

.playlistPicture {
    position: relative;
    width: 5.8vh;
    height: 5.8vh;
    border-radius: 1vh;
    /*left: 1.83vh;*/
}

.rightInformation {
    position: relative;
    left: 1.25vh;
}

.playlistName {
    position: relative;
    top: 1vh;
    font-size: 1.7vh;
    color: black;
}

.smallerWords {
    position: relative;
    top: 1vh;
    font-size: 1.25vh;
    display: flex;
    flex-direction: row;
    color: rgb(128, 128, 128);
}
